* {
    --accent: #9e75c5;
    --dark-accent: #7b06e8;
    --light-accent: #cba1f1;
    --button-background: #f4f0f8;
}

body {
    padding-top: 0em;
}

.box.feature {
    padding: 20px; /* Adjust padding as needed */
    border: 1px solid #ccc; /* Optional border for visibility */
    border-radius: 8px; /* Rounded corners */
    width: auto; /* Make it adaptable */
    max-width: 300px; /* Optional: limit width for better layout */
}